name: Latest blog post

on:
    push:
        branches: [main, master]
    schedule:
        - cron: '0 * * * *'
    workflow_dispatch: # Allow manual triggers

permissions:
    contents: write # Only the permission we need

jobs:
    update-readme-with-blog:
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.2.2

            - name: Update README with latest blog posts
              uses: gautamkrishnar/blog-post-workflow@v1.9.2
              with:
                max_post_count: "5"
                feed_names: "blog.duyet.net,duyet.substack.com"
                feed_list: "https://blog.duyet.net/rss.xml"
                template: "$newline- [$title]($url)"
                gh_token: ${{ secrets.DUYETBOT_TOKEN }}
                committer_username: duyetbot
                committer_email: 101855044+duyetbot@users.noreply.github.com
                commit_message: "chore: update from latest post"
